<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>movie</display-name>
  <filter>
    <filter-name>nutz</filter-name>
    <filter-class>org.nutz.mvc.NutFilter</filter-class>
    <init-param>
      <param-name>modules</param-name>
      <param-value>com.moxl.movie.MainModule</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>nutz</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <display-name>ValidateCodeServlet</display-name>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.moxl.movie.service.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>com.moxl.movie.service.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Regist</display-name>
    <servlet-name>Regist</servlet-name>
    <servlet-class>com.moxl.movie.action.Regist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>isUserNameExist</display-name>
    <servlet-name>isUserNameExist</servlet-name>
    <servlet-class>com.moxl.movie.action.isUserNameExist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>isUserNameExist</servlet-name>
    <url-pattern>/isUserNameExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>doRegist</display-name>
    <servlet-name>doRegist</servlet-name>
    <servlet-class>com.moxl.movie.action.doRegist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegist</servlet-name>
    <url-pattern>/doRegist</url-pattern>
  </servlet-mapping>
</web-app>